{{ define "main" }}
<main class="viewport-window">
  <div class="title-bar">
    <div class="title-bar-text">> {{ .Title }} :: HARDWARE_SCHEMATICS</div>
    {{ partial "window-controls" . }}
  </div>

  <div class="window-body">
    {{ with .Content }}
    <div class="cyber-text">{{ . }}</div>
    {{ end }}

    <ul class="post-list">
      {{ range .RegularPages.ByDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span> - {{ .Date.Format "2006-01-02" }}</span>
      </li>
      {{ end }}
    </ul>
  </div>
</main>
{{ end }}
